:root {
  --bg-main-color: rgba(91, 3, 3, 0.575);
  --bg-secondary-color: #30303075;
  --text-main-color: #000;
  text-shadow: rgb(255, 255, 255) 0 0 4px;
  --text-secondary-color: #ff0000;
  --text-tertiary-color: #d4ff00;
  --text-size-1: 2rem;
  --text-size-2: 1.5rem;
  --text-size-3: 1.2rem;
  --text-align-main: center;
  --font-family-main: "sans-serif", serif, Arial, Helvetica;
}
body {
  font-family: var(--font-family-main);
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
  background: url(https://wallpaperaccess.com/full/3527667.png);
  color: var(--text-main-color);
  text-align: var(--text-align-main);
}
main {
  background-color: var(--bg-main-color);
  height: 690px;
}
div {
  overflow: auto;
  height: 100%;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
  padding: 5rem;
}
footer {
  position: relative;
  bottom: 0 auto;
  padding: 0.1rem;
  text-align: center;
  background-color: #000;
  color: #fff;
}
a {
  color: var(--text-secondary-color);
}
a:hover {
  color: var(--text-main-color);
}
h1, h2 {
  color: var(--text-tertiary-color);
  font-size: var(--text-size-1, 0.5rem);
}
p {
  color: var(--text-tertiary-color);
  font-size: var(--text-size-3, 0.5rem);
}
