:root {
  --bg1: url(https://wallpapercave.com/wp/wp10955161.jpg);
  background-position: center;
  background-repeat: repeat;
  background-image: var(--bg1);
  --text1: ;
  color: #000;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 4%;
}
h1 {
  color: #971717;
  font-family: var(--text1);
  font-size: 50px;
  outline: auto;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 20px;
  padding: 50px;
}
h2,
h3 {
  color: var(--text1);
  font-family: var(--text1);
  background-color: rgba(107, 107, 107, 0.412);
  padding: 30px;
  border-radius: 20px;
}
.p1 {
  color: var(--text1);
  font-family: var(--text1);
  background-color: rgba(255, 255, 255, 0.302);
  padding: 2px;
  border-radius: 5px;
}
.p2 {
  color: var(--text1);
  font-family: var(--text1);
  outline: solid;
  outline-color: rgba(0, 0, 0, 0.271);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.302);
  position: relative;
  padding: 5px;
}
li {
  color: var(--text1);
  font-family: var(--text1);
  background-color: rgba(255, 255, 255, 0.302);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}
div {
  background-color: rgba(12, 0, 53, 0.384);
  padding: 30px;
  border: solid;
  border-color: rgba(0, 0, 0, 0.153);
  border-radius: 20px;
}
section {
  background-color: rgba(0, 0, 0, 0.153);
  padding: 30px;
  border: solid;
  border-color: rgba(0, 0, 0, 0.271);
  border-radius: 20px;
}