:root {
  --bgmaincolor: rgba(91, 3, 3, 0.575);
  background-image: url(https://wallpaperaccess.com/full/3527667.png);
  background-size: auto;
  --bgsecondarycolor: #30303075;
  --textmaincolor: #000;
  text-shadow: #fff 0 0 2px;
  --textsecondarycolor: #ff0000;
  --textsize1: 2rem;
  --textsize2: 1.5rem;
  --textsize3: 1.2rem;
  --textalignmain: center;
  --paddingmain: 0.5rem;
}
body {
  background-color: var(--bgmaincolor, #fff);
  color: var(--textmaincolor, #000);
  font-size: var(--textsize1, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
header {
  background-color: var(--bgmaincolor, #fff);
  color: var(--textmaincolor, #000);
  font-size: var(--textsize1, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
.section1 {
  background-color: var(--bgmaincolor, #fff);
  color: var(--textmaincolor, #000);
  font-size: var(--textsize2, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
.section2 {
  background-color: var(--bgmaincolor, #fff);
  color: var(--textsecondarycolor, #000);
  font-size: var(--textsize3, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
h2 {
  background-color: var(--bgmaincolor, #fff);
  color: var(--textmaincolor, #000);
  font-size: var(--textsize1, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
.p1 {
  background-color: var(--bgmaincolor, #fff);
  color: var(--textsecondarycolor, #000);
  font-size: var(--textsize3, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
h3 {
  color: var(--textmaincolor, #000);
  background-color: var(--bgmaincolor, #fff);
  font-size: var(--textsize1, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
ul {
  list-style: none;
  font-size: var(--textsize3, 1.2rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
  color: var(--textsecondarycolor, #000);
  background-color: var(--bgmaincolor, #fff);
}
footer {
  background-color: var(--bgsecondarycolor, #fff);
  color: var(--textmaincolor, #000);
  font-size: var(--textsize3, 1.5rem);
  text-align: var(--textalignmain, center);
  padding: var(--paddingmain, 0.5rem);
}
.p2 {
  padding: var(--paddingmain, 0.5rem);
  background-color: var(--bgmaincolor, #fff);
}
